.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
    background: #fff;
}

.main-content {
    margin: 24px 16px 0;
}

.site-layout-background {
    padding: 24px;
    min-height: 360px;
}

.main-title {
    font-size: 20px;
    margin-left: 42px;
}

.main-task-list-container {
    padding-top: 15px;
}

[data-theme="dark"] .site-layout-sub-header-background {
    background: #141414;
}

.help-page-inner {
    margin-left: 40px;
}

.grouped-buttons {
    display: inline-block;
}

.grouped-buttons button {
    margin-right: 10px;
}

.todo-container {
    border: 2px solid #bfbfbf;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 1em;
    font-size: 15px;
    overflow: hidden;
    background-color: #fff;
}

.todo-container:hover {
    border: 2px solid #6a85ca;
    border-radius: 12px;
    padding: 10px;
    font-size: 15px;
    overflow: hidden;
    background-color: #fff;
}

.todo-checkbox {
    padding-right: 7px !important;
}

.todo-subtask {
    margin-left: 23px;
    margin-top: 5px;
}

.center-subtask {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.button-right {
    float: right;
    margin-left: 8px;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #001529;
}

::-webkit-scrollbar-thumb {
    background: #8c8c8c;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #595959;
    border-radius: 20px;
}